html {
    width: 100vw;
    height: 100vh;
    font-family: ms pgothic;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: white;
    cursor: url('https://alexsounalet.com/assets/img/arrow.cur'), default;
}

main {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 63%);
    overflow: hidden;
}

p {
    font-weight: bold;
    font-size: 1.2rem;
}

.note {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px;
}